{% extends 'base.html' %}

{% block head %}
<meta name="description" content="About - {{ site.name }}">
<meta property="og:title" content="About - {{ site.name }}">
<meta property="og:description" content="About {{ site.name }}">
<meta property="og:type" content="website">
<title>About - {{ site.name }}</title>
{% endblock %}

{% block style %}
<style>
.markdown-body{margin:32px 0;}
.markdown-body h1{padding-bottom: 16px;border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));}
@media (max-width:600px){body{padding:8px;}}
</style>
{% endblock %}

{% block header %}
{% block header_title %}
<h1 style="margin:0;font-size:40px;font-weight:bold;">About</h1>
{% endblock %}
{% set back_url = "/" %}
{% set back_title = "Home" %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<article class="markdown-body">
{{ page.content }}
</article>
{% endblock %}

{% block script %}
<script src="/js/nav.js"></script>
{% endblock %}